.title-category {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin: 5px 0 0 0px;
}

.genres {
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  height: 208px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  max-width: 280px;
}

.genres:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.comedy {
  background: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
}

.dramas {
  background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}

.fiction {
  background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}

.horrors {
  background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

.emoji {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  margin-top: 77px;
}

.genres-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 26px;
}

.mv-16 {
  margin: 16px 0;
}

.mt-16 {
  margin: 16px 0 0 0;
}

.poster {
  max-width: 280px;
  height: 370px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: #333333;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  p {
    transition: all 0.3s ease-in-out;
    margin-top: -15px;
  }
}

.poster:hover .blackout {
  opacity: 1;

  p {
    margin-top: 0;
  }
}

.review {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #f2f2f2;
  padding: 16px;
  position: absolute;
  top: 0;
}

.hollywood {
  background-image: url(../images/posters/hollywood.png);
}

.striptease {
  background-image: url(../images/posters/striptease.png);
}

.batmen {
  background-image: url(../images/posters/batmen.png);
}

.cat {
  background-image: url(../images/posters/cat.png);
}

.movie-title {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  max-width: 280px;
  margin-top: 16px;
}

.mw280 {
  max-width: 280px;

}
