.scrollbar {
  &-wrapper {
    overflow: hidden;
    width: calc(100% - 18px);
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
  }

  &-content {
    height: 100%;
    width: calc(100% + 18px);
    padding: 0 18px 0 0;
    position: relative;
    overflow-x: auto;
    overflow-y: scroll;
    box-sizing: border-box;
  }

  &--hidden {
    display: none;
  }

  &-scroller-wrapper {
    position: relative;
    border-radius: 2px;
    top: 0;
    width: 8px;
    background: #F2F2F2;
    height: 100%;
  }

  &-scroller {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    width: 4px;
    border-radius: 2px;
    top: 0;
    right: -2px;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s linear;
  }

  &-container:hover &-scroller-wrapper,
  &-container:active &-scroller-wrapper {
    opacity: 1;
  }

  &-grabbed {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
