@import "~bootstrap/scss/bootstrap";
@import "./movies.scss";
@import "./television.scss";
@import "./custom-checkbox.scss";
@import "./scrollbar.scss";

input,
button {
  outline: none !important;
}

.address {
  margin: 0;
}

.body {
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
}

.header {
  margin: 32px auto;
}

.footer {
  background: #f2f2f2;
  padding: 22px 0 25px 0;
}

.display-none {
  display: none;
}

.entry:hover {
  background: #cc221b;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.text-16 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.video-service {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-left: 11px;
}

.entry {
  background: #e5261e;
  border-radius: 4px;
  width: 113px;
  height: 38px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.input-search {
  padding: 9px 0px 2px 0px;
  display: block;
  border: none;
  border-bottom: 1px solid #333333;
  margin-right: 31px;
  min-width: 100px;
  max-width: 316px;
  width: 100%;
}

.btn-search {
  border: none;
  background: none;
  color: #e5261e;
  padding: 5px 0 0 0;
}

.link {
  color: #333333;
  transition: color 0.3s ease;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #e5261e;
  }
}

.footer {
  &-address {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 4px;
  }

  &-content {
    margin-left: 39px;
  }

  &-link {
    color: #1f4766;
    margin-top: 7px;
  }
}

.tab {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin: 0 12px;
  padding-bottom: 7px;
  cursor: pointer;
  color: #333333;
  border: none;
  background: transparent;
  transition: color 0.3s ease;

  &--active {
    color: #e5261e;
    border-bottom: 2px solid #e5261e;
  }

  &:hover {
    color: #e5261e;
  }
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #333333;
  margin: 0 12px;
}

.tabs {
  padding: 14px 0 27px 0;
}

.content {
  padding-bottom: 72px;
}

.checkbox {
  text-align: left;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox:checked + label::before {
  border-color: #333333;
  background: none;
}

.modal-window {
  background: #ffffff;
  border-radius: 8px;
  text-align: center;
  width: 304px;
  height: 394px;
  margin: 203px auto;
  padding: 36px;
}

.input-registration {
  display: block;
  border: none;
  border-bottom: 1px solid #333333;
  margin: 20px 0 2px 0;
}

.btn-modal {
  padding-top: 108px;
}

.username {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-align: right;
  min-width: 100px;
  max-width: 350px;
  padding: 7px 17px 0 0;
}

@media (min-width: 992px) {
  .username {
    padding: 7px 17px 0;
  }
}
