.television {
  max-height: 696px;
  overflow: hidden;

  p {
    margin: 15px 0;
  }
}

.channel {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 19px 0 2px 0;

  &-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  &-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }
}

.program {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;

  &-list {
    padding-left: 7px;
  }

  &--active {
    color: #e5261e;
  }
}

.scrollbar {
  height: 696px;
}

@media (min-width: 1200px) {
  .television {
    width: 1196px;
  }
}