.television {
  max-height: 696px;

  p {
    margin: 15px 0;
  }
}

.channel {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 19px 0 2px 0;

  &-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  &-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }
}

.program {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;

  &-list {
    padding-left: 7px;
  }

  &--active {
    color: #e5261e;
  }
}

.scroller {
  overflow-y: scroll;
  width: 1196px;
  padding: 0 8px 0 0;




  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    border: 8px solid rgba(255, 255, 255, 0);
  }
  
  &::-webkit-scrollbar-track-piece {
    background: #F2F2F2;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #F2F2F2;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 2px;
    border: 2px solid rgb(242,242,242);
  }
}




// ::-webkit-scrollbar              { /* 1 - скроллбар */ }
// ::-webkit-scrollbar-button       { /* 2 - кнопка */ }
// ::-webkit-scrollbar-track        { /* 3 - трек */ }
// ::-webkit-scrollbar-track-piece  { /* 4 - видимая часть трека */ }
// ::-webkit-scrollbar-thumb        { /* 5 - ползунок */ }
// ::-webkit-scrollbar-corner       { /* 6 - уголок */ }
// ::-webkit-resizer                { /* 7 - изменение размеров окна*/ }