

.television {
    p {
        margin: 15px 0;
    }

    max-height: 696px;
}

.wrap-tv {
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 19px 0 2px 0;
}

.tv-active {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E5261E;
}

.tv-later {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.program-tv {
    padding-left: 7px;
}

.icons-tv {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;


}

.channel {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: #BDBDBD #F2F2F2 ;
    scrollbar-width: thin;
    border-radius: 2px;
  }

